<!DOCTYPE html>
<html>
  <head>
    <title>Export journalier</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css"/>
    <style>
      html,
      body {
        font-family: "Century Schoolbook", Arial, sans-serif;
        font-size: .25cm;
        position: relative;
      }

      table, th, td {
        border: 1px solid black;
      }

      table {
        border-collapse: collapse;
        width: 100%;
      }

      tr {
        height: 98px;
      }

      th, td {
        padding: 0 5px;
      }

      th {
        font-weight: bold;
      }

      td[colspan] {
        font-weight: bold;
        text-align: center;
      }

      .center {
        text-align: center;
      }
    </style>
  </head>
  <body>
    <table>
      <thead>
        <tr>
          <th>#</th>
          <th>Firstname</th>
          <th>Lastname</th>
          <th>Phone</th>
          <th>Delivery date</th>
          <th>Luggage quantity</th>
          <th>Flight number</th>
          <th>Flash to declare as delivered</th>
        </tr>
      </thead>
      <tbody>
      {{#each orders}}
        <tr>
          <td>{{number}}</td>
          <td>{{user.firstname}}</td>
          <td>{{user.lastname}}</td>
          <td>
            {{#if user.phone.international}}
            {{user.phone.international}}
            {{else}}
            {{user.phone.phone}}
            {{/if}}
          </td>
          <td>{{delivery.date}}</td>
          <td>{{luggages}}</td>
          <td>{{flightNumber}}</td>
          <td class="center">{{{flash}}}</td>
        </tr>
      {{else}}
        <tr>
          <td colspan="11">No orders for today.</td>
        </tr>
      {{/each}}
      </tbody>
    </table>
  </body>
</html>