<!DOCTYPE html>
<html>
  <head>
    <title>Facture</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css"/>
    <style>
      html,
      body {
        font-size: .25cm;
        position: relative;
      }

      section:first-child {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        min-height: 2.5cm;
      }

      .underlined {
        text-decoration: underline;
      }

      .text-right {
        text-align: right;
      }

      .text-left {
        text-align: left;
      }

      .logo {
        height: 2cm;
        padding-left: 1cm;
        position: absolute;
        width: auto;
      }

      .ref-client {
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
        padding-left: 8cm;
        width: 8cm;
      }

      .ref-tripperty {
        padding-left: 1cm;
      }

      .ref-recipient {
        max-width: 9cm;
        padding-left: 8cm;
      }

      .invoice-heading {
        font-size: .28cm;
        padding: 1cm 0 0 1cm;
      }

      .invoice-details {
        padding: 1cm 0 .5cm;
      }

      .invoice-details table {
        border-collapse: collapse;
        width: 100%;
      }

      .invoice-details th,
      .invoice-details td {
        padding: .1cm 0 .1cm .2cm;
      }

      .invoice-details th {
        border-bottom: 2px solid black;
      }

      .invoice-details .total td {
        border-top: 2px solid black;
        font-weight: bold;
      }
    </style>
  </head>
  <body>
    <main>
      <section>
        <img src="http://staging.tripperty.com/assets/images/logo-laposte2.png" class="logo"/>
        <div class="ref-client">
          <strong>Vos références client</strong>
          <p>
            Code client : {{order.user._id}}<br/>
            {{#if order.user.billing.company}}
            {{order.user.billing.company}}<br/>
            {{/if}}
            {{#if order.user.billing.vat}}
            {{order.user.billing.vat}}<br/>
            {{/if}}
            {{order.user.firstname}} {{order.user.lastname}}<br/>
            {{#if order.user.billing.address}}
            {{order.user.billing.address}}<br/>
            {{/if}}
          </p>
        </div>
      </section>
      <section class="ref-tripperty">
        <strong>Service bagages Tripperty</strong>
        <p>
          Yellow Innovation<br/>
          21, Rue de Cléry<br/>
          75002 Paris<br/>
          Téléphone : +33 (0) 1 65 40 25 12<br/>
          Email : contact@tripperty.com
        </p>
      </section>
      <section class="ref-recipient">
        {{#if order.user.billing.company}}
        {{order.user.billing.company}}<br/>
        {{/if}}
        {{#if order.user.billing.vat}}
        {{order.user.billing.vat}}<br/>
        {{/if}}
        {{order.user.firstname}} {{order.user.lastname}}<br/>
        {{#if order.user.billing.address}}
        {{order.user.billing.address}}<br/>
        {{/if}}
      </section>
      <section class="invoice-heading">
        <strong>Facture n° {{order.number}} du {{order.date}}</strong>
        <p>
          <strong>
            <span class="underlined">Objet</span> : Prestation Livraison de Bagages<br/>
            <span class="underlined">Numéro de commande</span> : {{order.number}}<br/>
          </strong>
        </p>
      </section>
      <section class="invoice-details">
        <table class="text-right">
          <thead>
          <tr>
            <th class="text-left">Détails</th>
            <th>Quantité</th>
            <th>Prix unitaire (€)</th>
            <th>TVA appliquée (%)</th>
            <th>Montant TVA (€)</th>
            <th>Montant HT (€)</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td class="text-left">Service Tripperty</td>
            <td>1</td>
            <td>{{pricing.default.ht}}</td>
            <td>{{pricing.default.tva}}</td>
            <td>{{order.pricing.default.tva}}</td>
            <td>{{order.pricing.default.ht}}</td>
          </tr>
          {{#if order.pricing.extraLuggage}}
          <tr>
            <td class="text-left">Baggage supplémentaire</td>
            <td>{{order.extraLuggage}}</td>
            <td>{{pricing.extraLuggage.ht}}</td>
            <td>{{pricing.extraLuggage.tva}}</td>
            <td>{{order.pricing.extraLuggage.tva}}</td>
            <td>{{order.pricing.extraLuggage.ht}}</td>
          </tr>
          {{/if}}
          {{#if order.storage}}
          <tr>
            <td class="text-left">Stockage</td>
            <td>{{order.storage}}</td>
            <td>{{pricing.storage.ht}}</td>
            <td>{{pricing.storage.tva}}</td>
            <td>{{order.pricing.storage.tva}}</td>
            <td>{{order.pricing.storage.ht}}</td>
          </tr>
          {{/if}}
          <tr class="total">
            <td class="text-left" colspan="5">Total HT</td>
            <td>{{order.pricing.total.ht}}</td>
          </tr>
          <tr class="total">
            <td class="text-left" colspan="5">Total TVA ({{pricing.default.tva}}%)</td>
            <td>{{order.pricing.total.tva}}</td>
          </tr>
          <tr class="total">
            <td class="text-left" colspan="5">Total TTC</td>
            <td>{{order.pricing.total.ttc}}</td>
          </tr>
          </tbody>
        </table>
        <p>
          <strong>Montant en Euros payé au comptant par carte bancaire le {{order.date}}</strong>
        </p>
        <p>
          <strong>Aucun escompte n'est consenti pour paiement anticipé.</strong><br/>
          <strong>Pour les clients professionnels</strong> : Tout incident de paiement est passible de pénalité de
          retard.<br/>
          Conformément à l'article L.441-6 du Code de commerce, tout incident de paiement est passible d'une indemnité
          forfaitaire de 40 euros et de pénalités de retard.<br/>
          Le montant des pénalités résulte de l'application aux sommes restant dues d'un taux égal à trois fois le taux
          d'intérêt légal en vigueur au moment de l'incident de paiement.
        </p>
      </section>
    </main>
  </body>
</html>